<h1>CAR DETAILS</h1>
<div class='description-block' *ngIf="carDetails">
  <p><img src={{carDetails.image}}/></p>
  <p><strong>Make: </strong>{{carDetails.make}}</p>
  <p><strong>Model: </strong>{{carDetails.model}}</p>          
  <p><strong>Description: </strong>{{carDetails.description}}</p>
  <p><strong>Owner: </strong>{{carDetails.owner}}</p>
  <p><strong>Engine: </strong>{{carDetails.engine}}</p>
  <p class="date-pipe"><strong>Date: </strong>{{carDetails.date | dateFormat}}</p>
  <p><strong>Price: </strong>{{carDetails.price}}</p> 
  <button class="btn btn-primary" (click)="goBack()">Go Back</button>
  <span><a class="btn btn-warning" routerLink="/cars/edit/{{paramPage}}/{{carDetails?.id}}">Car Edit</a></span>
<div>